/**/

* {
    font-family: sans-serif;
}

body {
    padding: 25px;
    background: dimgray;
}

.head {
    color: white;
}

.head p {
    padding-top: 10px;
    padding-bottom: 10px;
}

.foot {
    color: white;
}

hr {
    color: white;
}

.DomEl:hover {
    transform: scale(1.01, 1.01);
    transition: transform 0.125s;
}

.grid {
    display: inline-grid;
    grid-template-columns: max-content max-content max-content;
}

.column {
    margin: 25px;
    padding: 10px;
}

.left {
    grid-column: 1 / 1;
}

.middle {
    grid-column: 2 / 2;
}

.right {
    grid-column: 3 / 3;
}

.groups {
    color: darkblue;
    font-size: 110%;
    font-weight: bold;
    
    min-width: 80%;
    
    background: deepskyblue;
    border: 1px solid gainsboro;
    border-radius: 10px;
    padding: 20px;
    margin: 60px 25px;
    width: max-content;
}

.output {
    font-size: 110%;
    font-weight: bold;
    
    color: gold;
    background: lightyellow;
    
    overflow: scroll;
    
    padding: 15px 20px 10px 20px;
    
    position: fixed;
    top: 90%;
    left: 0%;
    height: 50px;
    
    width: 100%;
}

#clear {
    font-size: 120%;
    font-weight: bold;
    color: gold;
    background: transparent;
    border: 2px solid gold;
    
    padding: 7px 12px 5px 12px;
    
    position: fixed;
    left: 90%;
    top: 92%;
}
