/**/

* {
    font-family: sans-serif;
}

body {
    padding: 25px;
    background: dimgray;
}

.head {
    color: white;
}

hr {
    color: gray;
}

pre {
    font-family: monospace;
    font-size: 1.2em;
    color: royalblue;
    background: black;

    padding: 20px 5px;
}

.grid {
    display: inline-grid;
    grid-template-columns: max-content max-content;
}

.left {
    grid-column: 1 / 1;
    margin: 5px 10px;
    padding: 10px;
    background: azure;
}

.right {
    grid-column: 2 / 2;
    margin: 5px 10px;
    padding: 10px;
    background: azure;
}

.inner-blurb-set {
    background: mintcream;
    font-weight: bold;

    border: 1px solid gainsboro;
    border-radius: 10px;

    padding: 5px;
    margin: 5px;
    width: max-content;
}

.inner-blurb-set:hover {
    transform: scale(1.01, 1.01);
    transition: transform 0.125s;
}

.blurb-pane-name {
    background: mintcream;
    font-weight: bold;

    border: 1px solid gainsboro;
    border-radius: 10px;

    padding: 5px 15px 3px 15px;
    margin: 5px;
    width: max-content;
}

input[type=text],
textarea {
    font-size: 100%;
    background: transparent;
    border: 1px solid gainsboro;
    padding: 5px;
    height: 20px;
}

.name {
    width: 200px;
    max-width: 500px;
}

.inner-blurb {
    background: white;
    border: 1px solid gainsboro;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    width: max-content;
}

.inner-blurb:hover {
    transform: scale(1.01, 1.01);
    transition: transform 0.125s;
}

button {
    font-size: 100%;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
}

.choose {
    font-size: 125%;
    padding: 2px 5px;
}

.use {
    font-size: 150%;
    padding: 2px 5px;
}

.padder {
    margin: 2px;
    padding: 2px;
}

.over {
    border-top: 5px solid gold;
    transform: scale(1.01, 1.01);
    transition: all 0.125s;
}

.spacer {
    white-space: pre-wrap;
    margin: 0px 5px;
}

.clickable {
    white-space: pre-wrap;
    margin: 0px 20px;
}

.region {
    margin: 5px;
    background: skyblue;
    border: 1px solid blue;
}

.h1 {
    background: gold;
}

.h2 {
    background: yellow;
}

.h3 {
    background: lightyellow;
}

.plain {
    /* no styling */
}

.flash {
    color: white;
    background: black;
    border: 1px solid black;
}

.done {
    text-decoration: green line-through;
}

.skipped {
    text-decoration: darkred line-through;
}

.inter {
    background: steelblue;
    padding: 10px;
    margin: 15px 25px;
}
